Repository pbalek/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

more suggestions from code review
  Core/include/Acts/Vertexing/SeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SeedVertexFinderAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedVertexPerformanceWriter.hpp
Labels: Component - Core, Component - Examples, Vertexing

check_seedvtx.sh
  itk/check_seedvtx.sh
Labels: none

FPE debug
  Core/include/Acts/Vertexing/SeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SeedVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  itk/check_seedvtx.sh
  itk/full_chain_itk.py
Labels: Component - Core, Component - Examples, Vertexing

something for debug1
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

debug1
  Core/include/Acts/Vertexing/SeedVertexFinder.ipp
  itk/check_seedvtx.sh
Labels: Component - Core, Vertexing

kinda working
  Core/include/Acts/Vertexing/SeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SeedVertexFinderAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  itk/check_seedvtx.sh
  itk/full_chain_itk.py
Labels: Component - Core, Component - Examples, Vertexing

remove triplet definition
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
Labels: Component - Core, Vertexing

not so great
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
Labels: Component - Core, Component - Examples, Vertexing

with mixed chi2
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
Labels: Component - Core, Vertexing

extra single seed vertex writer
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSingleSeedVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootSingleSeedVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, Vertexing

almost saving triplets
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSingleSeedVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootSingleSeedVertexPerformanceWriter.cpp
Labels: Component - Core, Component - Examples, Vertexing

no RootSingleSeedVertexPerformanceWriter
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSingleSeedVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootSingleSeedVertexPerformanceWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples

more conflict fixes
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
Labels: Component - Examples, Vertexing

remove stuff
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
Labels: Component - Core, Vertexing

for backup
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSingleSeedVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootSingleSeedVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  itk/check_seedvtx.sh
  itk/csv2root.C
  itk/csv2root.sh
  itk/full_chain_itk2.py
Labels: Component - Core, Component - Examples, Vertexing

hough transf partially working
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SingleSeedVertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SingleSeedVertexPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/Vertexing.cpp
  Examples/Python/tests/test_writer.py
Labels: Component - Core, Component - Examples, Vertexing

now good?
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
Labels: Component - Core, Vertexing

compilable hough
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SingleSeedVertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SingleSeedVertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
  itk/check_seedvtx.sh
  itk/full_chain_itk.py
  itk/full_chain_odd.py
Labels: Component - Core, Component - Examples, Vertexing

HVF, compilable
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/HoughVertexFinder.cpp
Labels: Component - Core, Vertexing

fix track selector default kwargs
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

hough vertex finder
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Core/src/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/HoughVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/HoughVertexFinderAlgorithm.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  Examples/Python/tests/test_algorithms.py
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

fix lint
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/HoughVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/HoughVertexFinderAlgorithm.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Python/src/Vertexing.cpp
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

fix lint, for real
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

initial hough vtx seed filter
  Core/include/Acts/Seeding/HoughVtxSeedFilter.hpp
  Core/include/Acts/Seeding/HoughVtxSeedFilter.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughVtxSeedFilterAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/HoughVtxSeedFilterAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk_hi.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

avoiding bad event
  Examples/Scripts/Python/full_chain_itk_hi.py
Labels: Component - Examples

removing unnecessary stuff
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk_hi.py
Labels: Component - Examples

for seed distribution histogram
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk_hi.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

fix underflow
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
Labels: Component - Fatras

fix: better mass and charge for nuclei PDG (#4337)
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
Labels: Component - Core

fix: no underflow in gamma distribution (#4339)
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Utilities/detail/FpeSafeGammaDistribution.hpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/FpeSafeGammaDistributionTests.cpp
Labels: Component - Fatras

mutable seed finder
  Core/include/Acts/Seeding/SeedFinder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

post-creation seed filtering
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

Record z position
  Examples/Io/Csv/src/CsvTrackWriter.cpp
Labels: Component - Examples

added mising coma
  Examples/Io/Csv/src/CsvTrackWriter.cpp
Labels: Component - Examples

remove trailing whitespace
  Examples/Io/Csv/src/CsvTrackWriter.cpp
Labels: Component - Examples

where TB cherry picks
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Examples, Track Finding

with tolerance
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/HoughVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, Track Finding, Vertexing

for fig.5
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/HoughVertexFinderAlgorithm.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
Labels: Component - Core, Component - Examples, Track Finding, Vertexing
